.featured{
    height: 100vh;
}
.factured--vertical{
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}
.feactured--horizontal{
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 150px;
    padding-top: 70px;
}
.feactured--name{
    font-size: 60px;
    font-weight: bold;
}
.feactured--info{
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}
.feactured--points, 
.feactured--year, 
.feactured--seasons{
    display: inline-block;
    margin-right: 15px;
}

.feactured--points{
    display: inline-block;
    color: #46d369;
    margin-right: 15px;
}

.feactured--description{
    max-width: 40%;
    margin-top: 15px;
    font-size: 20px;
    color: #999;
}

.feactured--buttons{
    margin-top: 15px;
}
.featured--watchbutton,
 .featured--mylistbutton{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    opacity: 1;
    transition: all ease 0.2s;
}

.featured--watchbutton{
    background-color: #fff;
    color: rgb(34, 33, 33);
}
.featured--mylistbutton{
    background-color: #333;
    color: #fff;
}
.featured--watchbutton:hover,
 .featured--mylistbutton:hover{
     opacity: 0.7;
 }

.feactured--genres{
    margin-top: 15px;
    font-size: 18px;
    color: rgb(114, 110, 110);
}