header{
    position: fixed;
    z-index: 999;
    top:0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: transparent;
    transition: all ease 0.5s;
}
.black{
    background-color: #141414;
}
.header--logo{
    height: 40px;
}
.header--logo img{
   height: 100%;
}
.header--user{
    background-color: chartreuse;
    overflow: hidden;
    height: 50px;
    border-radius: 5px;
}
.header--user img{
    height: 100%;
}
