@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
  box-sizing: border-box;
}
body{
  background-color: #111111;
  color:  #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.lists{
  margin-top: -150px;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
footer .tmdb-img{
  width: 80px;
  margin-left: 10px;
 
}
.img-git {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  transition: all ease 0.2s;
  text-decoration: none;
  padding: 5px;
}
.img-git:hover{
  color: #c6bceb;
}
.img-git:visited{
  color: #c6bceb;
}
.img-git img{
 height: 30px;
}
.ico-coracao{
  width: 25px;
  margin-top: 5px;

}
.frase-autor{
  display: flex;
  align-items: center;
  gap: 5px;
}
.tmdb{
  display: flex;
}